* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #fff!important;
	overflow-x: hidden;
}

/* Floating Buttons */


.floating-button ul {
	z-index: 10;
	position: fixed;
	right: 0;
	top: 7.5%;
	padding-left: 0;


}

.floating-button li {
	display: block;
	background-color: #ffffff;
	

}

#logo-grupo {
	background: url(../images/home_39.png) no-repeat center;
	background-color: #012c78;
	text-indent: -999999px;
	width: 100%;
	height: 40px;
	cursor: pointer;
}

#logo-organon {
	background: url(../images/home_40.png) no-repeat center;
	background-color: #fff;
	text-indent: -999999px;
	width: 90px;
	height: 76px;
	border-bottom: 1px solid #6f8b9b;
	border-left: 1px solid #6f8b9b;
	border-right: 1px solid #6f8b9b;
	cursor: pointer;
}

#logo-editora {
	background: url(../images/home_41.png) no-repeat center;
	background-color: #fff;
	text-indent: -999999px;
	width: 90px;
	height: 76px;
	border-bottom: 1px solid #6f8b9b;
	border-left: 1px solid #6f8b9b;
	border-right: 1px solid #6f8b9b;
	cursor: pointer;
}

#logo-homesoft {
	background: url(../images/home_42.png) no-repeat center;
	background-color: #fff;
	text-indent: -999999px;
	width: 90px;
	height: 76px;
	border-bottom: 1px solid #6f8b9b;
	border-left: 1px solid #6f8b9b;
	border-right: 1px solid #6f8b9b;
	cursor: pointer;
}

/*NavBar Begin*/

.navbar-nav {
	display: inline-block;
	width: 107%;
}

.nav-logo {
	width: 107px;
	height: 56px;
	text-indent: -9999999px;
	background: url(../images/home_03.png) no-repeat center;
	margin-top: -31px;
}

.button-nav {
	width: 160px;
	height: 40px;
	background-color: #c8d112;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	margin: auto;
	margin-top: -2px;
	padding-left: 30px;
}

.button-nav:hover {
	text-decoration: none;
	background-color: #106aaf;
	transition: all 0.3s ease;
	color: #fff;
}

.button-nav a {
	padding-bottom: 0;
}


.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
  background-color: black;	
}

.navbar-custom li {
	padding-right: 27px;
}

.last-li {
	line-height: 13px!important;

}

.li-custom {
	margin-top: -7px;
}

.navbar-custom .navbar-toggle {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 12px;
}
.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
  outline: none;
}
.navbar-custom .navbar-brand {
  font-weight: 700;
}
.navbar-custom .navbar-brand:focus {
  outline: none;
}
.navbar-custom a {
  color: white;
}

.navbar-custom-black a {
	color: #304c5e;
}



.navbar-custom-btn {
	color: #fff!important;
}

.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;


}
.navbar-custom .nav li a:hover {
  color: #304c5e;
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: none;
  
}
.navbar-custom .nav li.active {
  outline: none;
}


@media (min-width: 768px) {
  .navbar-custom {
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .navbar-custom.top-nav-collapse {
    padding: 0;
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 17px;
    padding-bottom: 8px;
  }
}


/*Navbar End*/


header {
	background: url(../images/home_37.png) no-repeat center;
	background-size: cover;
	height: 579px;
	width: 100%;
}

header h1 {
	font-family: 'Bitter', serif;
	font-size: 45px;
	color: #fff;
	margin-top: 200px;
	margin-left: 70px;
	line-height: 70px;
    letter-spacing: 2px;
    display: inline-block;

}

header strong {
	font-size: 36px;
	font-weight: 600;
}

header figure {
	width: 527px;
	height: 330px;
	float: right;
	margin-right: -67px;
    position: absolute;
    left: 935px;
    top: 311px;

}

.head {
	background-color: #f7941d;
	height: 120px;
	width: 100%;
	text-align: center;
}

.head h3 {
	font-family: 'Bitter', serif;
	font-size: 25px;
	color: #fff;
	height: 120px;
	line-height: 120px;
	font-weight: 400;
    text-transform: none;
    margin: 0;
}

/*Section 1*/



section div {
	text-align: center;
}

section h2 {
	font-family: 'Bitter', serif;
	font-size: 35px;
	color: #c8d112;
	font-weight: 700;
	margin-top: 80px;
	margin-bottom: 60px;
	float: left;
	width: 100%;
}

section .img {
	margin-left: -118px;
}

section p {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #304c5e;
	font-weight: 600;
	margin-top: 50px;
	margin-bottom: 35px;
}

section .button {
	width: 240px;
	height: 40px;
	background-color: #c8d112;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 40px;
	margin-bottom: 80px;
}

section a:hover {
	text-decoration: none;
	background-color: #106aaf;
	transition: all 0.3s ease;
	color: #fff;
}

section h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 700;
	color: #304c5e;
	text-transform: uppercase;
}

/*Section 2*/


main section:nth-child(3) {
	background-color: #ffc20e;
	height: 540px;
	
}

main section:nth-child(3) h2 {
	color: 	#106aaf;
	font-size: 40px;
	text-align: justify;
	display: inline-block;
	margin-bottom: 0;
	text-transform: uppercase;
}

main section:nth-child(3) h2 span {
	color: 	#106aaf;
	font-size: 30px;
	font-weight: 400;
	text-transform: uppercase;
}

main section:nth-child(3) p {
	text-align: justify;
	font-size: 15px;
	font-weight: 400;
	margin-bottom: 0;
	margin-top: 30px;
	display: inline-block;
	float: left;
	width: 96%;
}

main section:nth-child(3) strong {
	font-weight: 700;
	text-transform: uppercase;
	font-size: 14px;
}

main section:nth-child(3) .last-p {
	margin-bottom: 80px;
}

main section:nth-child(3) figure {
	width: 570px;
	height: 583px;
	position: absolute;
    right: 0;
    margin-top: -43px;
}

/*Section 4*/



main section:nth-child(4) h2 {
	margin-bottom: 40px;
}

main section:nth-child(4) h4 {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 700;
	color: #304c5e;
	margin-top: 20px;
	margin-bottom: 20px;
}

main section:nth-child(4) h3 {
	margin-bottom: 60px;
}

main section:nth-child(4) p {
	font-size: 13px;
	color: #6f8b9b;
	margin-top: 0;
	margin-bottom: 60px;

}


/*Section 4*/

main section:nth-child(5) {
	background-color: #c8d112;
	overflow: hidden;
	height: 555px;
	
}

main section:nth-child(5) .text {
    display: inline-block;
    width: 63%;
    float: left;
}

main section:nth-child(5) img {
	border-top-left-radius: 17px;
	
}

main section:nth-child(5) figure {
	display: table;
	width: 50%;
	height: 343px;
	margin: 0;
	padding: 0;
	float: right;
    margin-right: -259px;
    margin-top: -341px;
}

main section:nth-child(5) h2 {
	color: #106aaf;
	margin-bottom: 40px;
}

main section:nth-child(5) p {
	text-align: justify;
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 0;
	margin-top: 20px;
	display: inline-block;
	float: left;
}

main section:nth-child(5) h4 {
	font-family: 'Bitter', serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 18px;
	color: #106aaf;
	margin-top: 60px;
	float: left;

}

main section:nth-child(5) .last-p {
	margin-bottom: 80px;
}



/*Section 5*/

main section:nth-child(6) {
	background-color: #f5f7f9;
	overflow: hidden;
	height: 424px;
	
}

main section:nth-child(6) .text {
    display: inline-block;
    width: 63%;
    float: right;
}

main section:nth-child(6) img {
	border-top-right-radius: 17px;
	
}

main section:nth-child(6) figure {
	display: table;
	width: 50%;
	height: 343px;
	margin: 0;
	padding: 0;
	float: left;
    margin-left: -257px;
    margin-top: 80px;
}


main section:nth-child(6) p {
	text-align: justify;
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 0;
	margin-top: 20px;
	display: inline-block;
	float: left;
}

main section:nth-child(6) h4 {
	font-family: 'Bitter', serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 18px;
	color: #106aaf;
	margin-top: 80px;
	float: left;

}

main section:nth-child(6) .last-p {
	margin-bottom: 80px;
}


/*Section 6*/

main section:nth-child(7) {
	background-color: #c8d112;
	overflow: hidden;
	height: 424px;
	
}

main section:nth-child(7) .text {
    display: inline-block;
    width: 63%;
    float: left;
}

main section:nth-child(7) img {
	border-top-left-radius: 17px;
	
}

main section:nth-child(7) figure {
	display: table;
	width: 50%;
	height: 343px;
	margin: 0;
	padding: 0;
	float: right;
    margin-right: -259px;
    margin-top: -309px;
}



main section:nth-child(7) p {
	text-align: justify;
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 0;
	margin-top: 20px;
	display: inline-block;
	float: left;
}

main section:nth-child(7) h4 {
	font-family: 'Bitter', serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 18px;
	color: #106aaf;
	margin-top: 81px;
	float: left;

}

main section:nth-child(7) .last-p {
	margin-bottom: 80px;
}

main section:nth-child(7) #precos {
	height: 36px;
}

/*Section 7*/


/*Section 8*/


main section:nth-child(9) h3 {
	text-align: center;
    margin-top: 40px;
    margin-bottom: 60px;
}

main section:nth-child(9) h4 {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 600;
	color: #fff;
	background-color: #304c5e;
	height: 50px;
	line-height: 50px;
	width: 205px;
	margin-bottom: 0;
}

main section:nth-child(9) span {
	font-size: 18px;
	color: #c8d112;
}

main section:nth-child(9) p {
	width: 205px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	background-color: #6f8b9b;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;

}


main section:nth-child(9) ul {
	list-style: none;
	background-color: #f5f7f9;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	width: 205px;
}

main section:nth-child(9) ul li {
	padding-top: 20px;
}

main section:nth-child(9) .price {
	height: 80px;
	background-color: #304c5e;
	font-size: 30px;
	margin-top: -16px;
}

main section:nth-child(9) .price span {
	font-size: 15px;
	margin-left: -28px;
}

main section:nth-child(9) .price strong {
	font-size: 20px;
	font-weight: 400;
	color: #c8d112;
}

main section:nth-child(9) a  {
	width: 205px;
	height: 40px;
	text-transform: none;
	margin-top: 15px;
	color: #184261;
}


main section:nth-child(9) a:hover {
	text-decoration: none;
	color: #fff;
}

main section:nth-child(9) ul .last-li {
	padding-bottom: 30px;
}

main section:nth-child(9) .col-md-2 {
	margin-right: 38px;
}

main section:nth-child(9) #ajuda {
	height: 36px;
}

/*Section 9*/

main section:nth-child(10).head {
	background-color: #106aaf;
}

/*Section 10*/

main section:nth-child(11) h3 {
	text-align: center;
    margin-top: 40px;
    margin-bottom: 60px;
}

main section:nth-child(11) .icone {
	width: 80px;
	height: 80px;
	background: url(../images/home_21.png) no-repeat center;
	float: left;
	margin-bottom: 40px;
}

main section:nth-child(11) .icone2 {
	background: url(../images/home_26.png) no-repeat center;
	width: 80px;
	height: 80px;
	float: left;
	margin-bottom: 40px;
}

main section:nth-child(11) .icone3 {
	background: url(../images/home_24.png) no-repeat center;
	width: 80px;
	height: 80px;
	float: left;
	margin-bottom: 40px;
}

main section:nth-child(11) h5 {
	font-family: 'Bitter', serif;
	font-size: 20px;
	color: #106aaf;
	float: left;
	display: inline-block;
	margin-bottom: 8px;
	margin-left: 10px;
	margin-right: 101px;
}

main section:nth-child(11) p {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: 400;
	color: #6f8b9b;
	float: left;
	display: inline-block;
	text-align: left;
	margin: 0;
	margin-left: 10px;
	margin-right: 80px;
}

main section:nth-child(11) .row {
	margin-left: 71px;
}

main section:nth-child(11) .last-row {
	margin-bottom: 40px;
}



/*Section 11*/


main section:nth-child(12) .container {
	background-color: #c8d112;
	margin-bottom: 60px;
	height: 490px;
}

main section:nth-child(12) h2 {
	color: #304c5e;
	margin-bottom: 30px;
	margin-top: 60px;
}

main section:nth-child(12) h3 {
	margin-bottom: 30px;
}




/*Form*/



.form-small {
	height: 40px;
	width: 292px;
	margin-bottom: 10px;
	float: right;
	border: none;
	margin-right: 11px;

}

.form-small::placeholder {
	color: #184261;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 600;
}

.form-small::placeholder {
	color: #184261;
}

.form-small-right {
	height: 40px;
	width: 292px;
	margin-bottom: 10px;
	float: left;
	border: none;
	margin-left: 10px;
}

.form-small-right::placeholder {
	color: #184261;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 600;
}

.form-small-right::placeholder {
	color: #184261;
}

.form-big {
	height: 40px;
	width: 615px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	border: none;


}

.form-big2 {
	height: 100px;
	width: 615px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	border: none;


}

textarea.form-control {
    height: 100px;
}

.form-big::placeholder {
	color: #184261;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 600;
}

.form-big2::placeholder {
	color: #184261;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 600;


}


.form-big::placeholder {
	color: #184261;
}

.form-big2::placeholder {
	color: #184261;

}

form .btn-form {
	width: 160px;
	height: 40px;
	background: #304c5e;
	margin: auto;
	display: block;
	margin-top: 20px;
	transition:all 0.3s ease;
	border: none;
	margin-bottom: 60px;
	cursor: pointer;

}

label { 
	display: block; 
	margin-top: 10px; 
}

label.error { 
	float: none; 
	color: red; 
	margin: 0 .5em 0 0; 
	vertical-align: top; 
	font-size: 10px;
	font-weight: 700;
}

#campoNome-error {
    
    right: 214px;
    position: absolute;
    top: 40px;
}

#campoTelefone-error {
    
    left: 17px;
    position: absolute;
    top: 40px;
}

#campoEmail-error {
    
    left: 253px;
    position: absolute;
    top: 52px;
}

#campoMensagem-error {
    
    left: 253px;
    position: absolute;
    top: 113px;
}


/*Section 12*/

main section:nth-child(13) {
	background-color: #ffc20e;
	height: 100px;
}


main section:nth-child(13) i {
	font-size: 51px;
    float: left;
    color: #304c5e;
    padding: 0;
    /* margin-top: -5px; */
    margin-right: 29px;
}


main section:nth-child(13) h3 {
	color: #304c5e;
    font-family: 'Bitter', serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 52px;
    display: inline-block;
    text-transform: none;
    float: left;
    width: auto;
    height: 54px;
    margin-top: -4px;
}

main section:nth-child(13) p {
	color: #304c5e;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 600;
	height: 50px;
	/*line-height: 20px;*/
	display: inline-block;
	margin: 0;
	margin-left: 30px;
	text-align: left;
}

main section:nth-child(13) .form-control {
	display: inline-block;
	width: 216px;
}

main section:nth-child(13) .form-news {
	background: none;
	border: 2px solid #ffffff;
	margin-right: 58px;
    margin-left: -36px;


}

main section:nth-child(13) .form-news::placeholder {
	color: #304c5e;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

main section:nth-child(13) .btn-news {
	width: 150px;
	height: 40px;
	background: #304c5e;
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 600;
	transition:all 0.3s ease;
	border: none;
	margin-left: -88px;
	cursor: pointer;

}

main section:nth-child(13) .btn-news:hover {
	text-decoration: none;
	background-color: #106aaf;
	transition: all 0.3s ease;
	color: #fff;

}




main section:nth-child(13) .row {
	padding-top: 30px;
}

main section:nth-child(13) #campoNome-error {
    
    right: 226px;
    position: absolute;
    top: 36px;
    width: 100%;
}



main section:nth-child(13) #campoEmail-error {
    
    left: 14px;
    position: absolute;
    top: 36px;
    width: 100%;
}

/*Footer*/


footer {
	height: 190px;
	background-color: #304c5e;
}

footer .logo-homeo {
	width: 94px;
	height: 51px;
	background: url(../images/home_31.png) no-repeat center;
	display: block;
	margin-top: 40px;

}

footer p {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #fff;
	margin-top: 20px;
	font-weight: 400;
	width: 99%;

}

footer dl {
	color: #ffffff;
	margin-top: 40px;
	

}

footer dl dt {
	margin-bottom: 30px;
	font-family: 'Bitter', serif;
	font-weight: 400;
	font-size: 15px;
	text-transform: uppercase;
}

footer dl dd {
	font-family: 'Open Sans', sans-serif;
	line-height: 20px;
	font-size: 14px;

}

footer a {
	color: #fff;
}

footer a:hover {
	text-decoration: underline;
	color: #fff;
}

footer .face {
	width: 35px;
	height: 35px;
	background: url(../images/home_34.png) no-repeat center;
	display: inline-block;
	margin-right: 20px;
}

footer .yt {
	width: 35px;
	height: 35px;
	background: url(../images/home_36.png) no-repeat center;
	display: inline-block;
}


footer section {
	background-color: #1c3140;
	height: 50px;
	
}

footer section p {
	display: inline-block;
	margin-bottom: 0;
}

footer section .dev {
	float: right;
	display: inline-block;
	margin: 0;
    margin-top: -36px; 

}

footer section .dev p {
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
	margin-top: -8px;
}

footer section .logo-vit {
	width: 109px;
	height: 23px;
	background: url(../images/home_38.png) no-repeat center;
	float: right;
    display: inline-block;
    text-indent: -9999999px;
    margin-left: -88px;
}



/* Responsive */

@media (max-width: 1600px) {
	header figure {
		left: 895px;
	}

	main section:nth-child(5) figure {
		margin-right: -135px;
	}

	main section:nth-child(6) figure {
		margin-left: -134px;
	}

	main section:nth-child(6) .text {
		width: 62%;
	}

	main section:nth-child(7) figure {
		margin-right: -135px;
	}
}

@media (max-width: 1440px) {
	header figure {
		left: 815px;
	}

	main section:nth-child(5) figure {
		margin-right: -95px;
	}

	main section:nth-child(5) .text {
		width: 55%;
	}

	main section:nth-child(6) figure {
		margin-left: -94px;
	}

	main section:nth-child(6) .text {
		width: 55%;
		margin-right: -43px;
	}

	main section:nth-child(7) figure {
		margin-right: -95px;
	}

	main section:nth-child(7) .text {
		width: 55%;
	}
}

@media (max-width: 1366px) {
	header figure {
		left: 778px;
	}

	main section:nth-child(5) figure {
		margin-right: -76px;
	}

	main section:nth-child(5) .text {
		width: 55%;
	}

	main section:nth-child(6) figure {
		margin-left: -75px;
	}

	main section:nth-child(6) .text {
		width: 55%;
		margin-right: -43px;
	}

	main section:nth-child(7) figure {
		margin-right: -76px;
	}

	main section:nth-child(7) .text {
		width: 55%;
	}
}

@media (max-width: 1280px) {
	header figure {
		left: 736px;
	}

	main section:nth-child(3) p {
		width: 120%;
	}

	main section:nth-child(5) figure {
		margin-right: -55px;
	}

	main section:nth-child(5) .text {
		width: 55%;
	}

	main section:nth-child(6) figure {
		margin-left: -54px;
	}

	main section:nth-child(6) .text {
		width: 55%;
		margin-right: -43px;
	}

	main section:nth-child(7) figure {
		margin-right: -55px;
	}

	main section:nth-child(7) .text {
		width: 55%;
	}

	#logo-grupo {
	width: 100%;
	height: 40px;
	
	}

	#logo-organon {
	width: 77px;
	height: 71px;
	
	}

	#logo-editora {
	width: 77px;
	height: 71px;
	
	}

	#logo-homesoft {
	width: 77px;
	height: 71px;

	}
}




































